[user]
	name = kmkinney
	email = 65429603+kmkinney@users.noreply.github.com
[alias]
	co = checkout
	br = branch
    st = status -sb
    f = fetch
    a = add .
    c = commit
    cm = commit -m
    p = push
    pu = push -u

[core]
	editor = nvim
