[user]
    name = kmkinney
    email = kevinmk712@gmail.com
[alias]
    co = checkout
    br = branch
    st = status -sb
    f = fetch
    a = add .
    c = commit
    cm = commit -m
    p = push
    pu = push -u
[core]
    editor = vim
    autocrlf = input
[init]
    defaultBranch = main
