$bg_dim: "#1e2326";
$bg0: "#272e33";
$bg1: "#2e383c";
$bg2: "#374145";
$bg3: "#414b50";
$bg4: "#495156";
$bg5: "#4f5b58";
$bg_visual: "#4c3743";
$bg_red: "493b40";
$bg_green: "#3c4841";
$bg_blue: "#384b55";
$bg_yellow: "#45443c";
$fg: "#d3c6aa";
$red: "#e67e80";
$orange: "#e69875";
$yellow: "#dbbc7f";
$green: "#a7c080";
$aqua: "#83c092";
$blue: "#7fbbb3";
$purple: "#d699b6";
$grey0: "#7a8478";
$grey1: "#859289";
$grey2: "#9da9a0";
$statusline1: "#a7c080";
$statusline2: "#d3c6aa";
$statusline3: "#e67e80";

$vertical: 4px;
$edge: 4px;
$separation: 4px;
$transparent: rgba(0, 0, 0, 0);
$opacity: 0.1;

* {
  font-family: "JetBrainsMono Nerd Font";
  color: $fg;
}

.bar {
  background-color: $bg_dim;
  opacity: $opacity;
}

scale {
  background-color: $bg0;
  margin-right: $separation;
  margin-top: $vertical;
  background-color: $bg_dim;
  margin-bottom: $vertical;
  font-size: 13px;
  color: $fg;
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 9px;
  min-width: 16px;
  padding-top: 4px;
  padding-bottom: 2px;
}

scale trough {
  all: unset;
  background-color: $bg3;
  border-radius: 16px;
  min-height: 10px;
  min-width: 70px;
  margin: 0px 10px 0px 10px;
}

scale slider {
  all: unset;
}

scale trough highlight {
  all: unset;
  background-image: linear-gradient(to right, $orange 5%, $red 95%);
  border-radius: 16px;
}

button {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: $vertical;
  background-color: $bg_dim;
  margin-bottom: $vertical;
  font-size: 13px;
  color: $fg;
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 9px;
  min-width: 16px;
  padding-top: 4px;
  padding-bottom: 2px;
}

.wlabel,
.vol {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 20px;
  margin-left: 4px;
  margin-right: 4px;
}

tooltip {
  background-color: $bg_dim;
}

.workspace {
  margin-right: $separation;
  background-color: $bg2;
}

.workspace-container {
  margin-left: $edge;
}

.active {
  background-image: linear-gradient(to right, $orange 5%, $red 95%);
}

.active.used {
  padding-left: 15px;
  padding-right: 15px;
}

.clock {
  margin-right: $edge;
}

.date {
  margin-left: $separation;
}

.critical {
  background-color: $orange;
}

.vol.low {
  background-image: url("images/volume-low.svg");
}
.vol.med {
  background-image: url("images/volume-med.svg");
}
.vol.high {
  background-image: url("images/volume-high.svg");
}
.vol.off {
  background-image: url("images/volume-off.svg");
}
.vol.mute {
  background-image: url("images/volume-mute.svg");
}
