/* Colors */
@define-color bg_dim #1e2326;
@define-color bg0 #272e33;
@define-color bg1 #2e383c;
@define-color bg2 #374145;
@define-color bg3 #414b50;
@define-color bg4 #495156;
@define-color bg5 #4f5b58;
@define-color bg_visual #4c3743;
@define-color bg_red #493b40;
@define-color bg_green #3c4841;
@define-color bg_blue #384b55;
@define-color bg_yellow #45443c;
@define-color fg #d3c6aa;
@define-color red #e67e80;
@define-color orange #e69875;
@define-color yellow #dbbc7f;
@define-color green #a7c080;
@define-color aqua #83c092;
@define-color blue #7fbbb3;
@define-color purple #d699b6;
@define-color grey0 #7a8478;
@define-color grey1 #859289;
@define-color grey2 #9da9a0;
@define-color statusline1 #a7c080;
@define-color statusline2 #d3c6aa;
@define-color statusline3 #e67e80;
@define-color transparent rgba(0,0,0,0);

/* Main */
window {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  color: @fg;
}

window.bar {
  background-color: @bg_dim;
}

button {
  background-color: @bg_dim;
  color: @fg;
  border-radius: 100px;
}

button:hover {
  background-color: @bg_green;
}

.hostname {
  background-color: @green;
  padding: 0px 16px;
  /* If it is fully rounded you can see pixels peek through */
  border-radius: 0px 100px 100px 0px;
  color: @bg_dim;
}

.date {
  background-color: @blue;
  padding: 0px 16px;
  border-radius: 100px 0px 0px 100px;
  color: @bg_dim;
}

.icon {
  font-size: 18px;
}

.network {
  color: @blue;
}

.workspaces {
  font-size: 16px;
}

.workspace {
  min-width: 48px;
  color: @fg;
  border-radius: 0px;
  background-color: @transparent;
}

.active {
  /*border-bottom: 5px solid @green;*/
  color: @green;
}

.volume {
  color: @yellow;
}

scale {
  all: unset;
  color: @green;
}

scale trough {
  all: unset;
  min-height: 5px;
  border-radius: 100px;
  background-color: @grey0;
}

scale trough highlight {
  all: unset;
  border-radius: 100px;
  background-color: @green;
}

scale slider {
  background-color: @grey0;
  border: none;
}

/* Dock */
.dock {
  background-color: @bg_dim;
  border-radius: 10px;
}

.dock button {
  all: unset;
  padding: 8px;
  margin: 8px;
}

.dock button:hover {
  background-color: @bg0;
}

.dock-icon {
  font-size: 32px;
}
